openapi: 3.1.0
info:
  title: VO2QNAPDBAI — AI Database MCP (slim)
  description: Slim Action schema — only tools agents actually need. Reduces context token overhead vs full 73-tool schema.
  version: 10.1.0-slim
servers:
  - url: https://mcp.vo2info.cz/ai
    description: QNAP MCP (VO2QNAPDBAI)

security:
  - bearerAuth: []

paths:

  /db_ping:
    post:
      operationId: db_ping
      summary: Test DB connection. Returns ok, MCP_VERSION, now.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200": { description: ok }

  /rate_limit_guard:
    post:
      operationId: rate_limit_guard
      summary: Returns maxBatchSize for smart_upsert_batch. Call once at run start.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200": { description: ok }

  /run_select_sql:
    post:
      operationId: run_select_sql
      summary: Run read-only SELECT. Max 500 rows. Always use LIMIT. Never SELECT *.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sql]
              properties:
                sql: { type: string }
                limit: { type: integer, maximum: 500 }
      responses:
        "200": { description: rows }

  /upsert_record:
    post:
      operationId: upsert_record
      summary: Insert or update one record by criteria.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table, criteria, data]
              properties:
                table: { type: string }
                criteria: { type: object }
                data: { type: object }
      responses:
        "200": { description: ok }

  /smart_upsert_batch:
    post:
      operationId: smart_upsert_batch
      summary: Batch upsert up to maxBatchSize rows. Use keyColumns as match criteria.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table, rows, keyColumns]
              properties:
                table: { type: string }
                rows: { type: array, items: { type: object } }
                keyColumns: { type: array, items: { type: string } }
      responses:
        "200": { description: ok }

  /find_records:
    post:
      operationId: find_records
      summary: Find records by exact field criteria.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table, criteria]
              properties:
                table: { type: string }
                criteria: { type: object }
                limit: { type: integer, default: 20 }
      responses:
        "200": { description: rows }

  /ensure_table:
    post:
      operationId: ensure_table
      summary: Create table if missing and ensure base structure (Guid PK, scoring columns).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table]
              properties:
                table: { type: string }
      responses:
        "200": { description: ok }

  /ensure_columns:
    post:
      operationId: ensure_columns
      summary: Add missing columns to an existing table.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table, columns]
              properties:
                table: { type: string }
                columns:
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      type: { type: string }
      responses:
        "200": { description: ok }

  /soft_delete_record:
    post:
      operationId: soft_delete_record
      summary: Set IsDeleted=true on matching records.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [table, criteria]
              properties:
                table: { type: string }
                criteria: { type: object }
      responses:
        "200": { description: ok }

  /schema_report:
    post:
      operationId: schema_report
      summary: Report schema gaps — missing BaseGuid or scoring columns.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter: { type: string }
      responses:
        "200": { description: report }

  /send_notification:
    post:
      operationId: send_notification
      summary: Send ntfy notification. topic, title (max 60 chars), message (max 200 chars pipe-separated), priority (min/default/high/urgent), tags (ntfy words), markdown.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic, title, message]
              properties:
                topic: { type: string }
                title: { type: string, maxLength: 60 }
                message: { type: string, maxLength: 200 }
                priority: { type: string, enum: [min, default, high, urgent] }
                tags: { type: array, items: { type: string } }
                markdown: { type: boolean, default: true }
                click: { type: string }
      responses:
        "200": { description: ok }

  /sync_agent_entities:
    post:
      operationId: sync_agent_entities
      summary: Sync Drive spreadsheet rows to AgentMonitor DB.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_name, entity_type, rows]
              properties:
                agent_name: { type: string }
                entity_type: { type: string }
                rows: { type: array, items: { type: array } }
                value_col: { type: integer }
                meta_cols: { type: array, items: { type: string } }
      responses:
        "200": { description: ok }

  /get_agent_entities:
    post:
      operationId: get_agent_entities
      summary: Get cached entities from AgentMonitor DB for this agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [agent_name, entity_type]
              properties:
                agent_name: { type: string }
                entity_type: { type: string }
      responses:
        "200": { description: entities }

  /sheets_get_values:
    post:
      operationId: sheets_get_values
      summary: Read rows from a Google Sheet tab.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spreadsheetId, range]
              properties:
                spreadsheetId: { type: string }
                range: { type: string, description: "e.g. entities or entities!A:Z" }
      responses:
        "200": { description: rows }

  /sheets_append_rows:
    post:
      operationId: sheets_append_rows
      summary: Append rows to a Google Sheet tab.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spreadsheetId, range, rows]
              properties:
                spreadsheetId: { type: string }
                range: { type: string }
                rows: { type: array, items: { type: array } }
      responses:
        "200": { description: ok }

  /sheets_find_row:
    post:
      operationId: sheets_find_row
      summary: Find a row in a Sheet by column value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spreadsheetId, range, searchColumn, searchValue]
              properties:
                spreadsheetId: { type: string }
                range: { type: string }
                searchColumn: { type: integer }
                searchValue: { type: string }
      responses:
        "200": { description: row index and data }

  /sheets_update_row:
    post:
      operationId: sheets_update_row
      summary: Update a specific row in a Google Sheet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spreadsheetId, range, rowIndex, values]
              properties:
                spreadsheetId: { type: string }
                range: { type: string }
                rowIndex: { type: integer }
                values: { type: array }
      responses:
        "200": { description: ok }

  /sheets_create_spreadsheet:
    post:
      operationId: sheets_create_spreadsheet
      summary: Create a new Google Spreadsheet in a Drive folder.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, folderId]
              properties:
                title: { type: string }
                folderId: { type: string }
      responses:
        "200": { description: spreadsheetId }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
